/* Reset and Global Styles */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.7;
    background: url('https://source.unsplash.com/random?books') no-repeat center center fixed;
    background-size: cover;
}

h3 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* Navbar Styles */
#navbar {
    background: #333;
    color: white;
    overflow: auto;
}

#navbar a {
    color: white;
    text-decoration: none;
    padding: 20px;
    display: inline-block;
    transition: background 0.3s ease;
}

#navbar a:hover,
#navbar a.current {
    background: #444;
}

#navbar h1,
#navbar a.home {
    padding: 20px;
    float: left;
}

#navbar ul {
    float: right;
    list-style: none;
    padding-right: 20px;
}

#navbar ul li {
    float: left;
    margin-left: 10px;
}


/* Container Styles */
.container {
    max-width: 1000px;
    margin: 0 auto;
    padding: 0 20px;
}

/* Home Info Styles */
#home-info {
    overflow: auto;
    margin-top: 10%;
    text-align: center; /* Center align the content */
}

#home-info #lat,
#home-info #lon,
#home-info #submit {
    width: 200px;
    border-radius: 5px;
    padding: 10px;
    margin-top: 10px;
    display: block; /* Make inputs and button block-level elements */
    margin: 0 auto; /* Center horizontally */
    text-align: center;
}

#home-info #lat,
#home-info #lon {
    margin-bottom: 10px; /* Add some spacing between inputs */
}

/* Location Address Styles */
#location-address #streetValue{
    width: 50%;
    border-radius: 5px;
    padding: 10px;
    margin-top: 10px;
    overflow: auto;
    margin: 0 auto;
    display: block; /* Make inputs and button block-level elements */
    text-align: center;
}
